html, body {
    font-size: 1rem;
    padding: 0;
    margin: 0;

    background-color: #eee;
    color: black;
}

* {
    font-family: Lato, Tahoma, Verdana, sans-serif
}

hr#separator {
    border: 0;
    height: 1px;
    margin: 20px;
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0));
}

#footer {
    font-size: 1.2rem;
    color: #333;
    margin: 20px;
}

#footer br {
    line-height: 2.5rem;
}